{% extends 'base.html.twig' %}

{% block title %}New Client
{% endblock %}

{% block body %}


	<h1>Créer un client</h1>
	{{ include('client/_form.html.twig') }}
	<a class="btn btn-primary" href="{{ path('client_index') }}" role="button">Retour à la liste des clients</a>

{% endblock %}
